{#include base}
    {#title}{title}{/title}
    <header>
        <h1>{title}</h1>
    </header>
    {#for page in pages}
        <article>
        <a class="title" href="/page/{page.name}#content">{page.title}</a>
        <div class="imgCount">{page.imgCount} images</div>
        <div class="date"><time datetime="{page.timestamp}">{page.dateHuman}</time></div>
        <div class="place"><a href="/place/{page.place.name}#content">{page.place.displayName}</a></div>
        <a  class="category" href="/category/{page.category.name}#content">{page.category.displayName}</a>
        </article>
    {/for}
{/include}