{#include base}
    {#title}Mentions légales{/title}
    <header><h1>Mentions légales</h1></header>
    <section>
        <h2 id="hébergement">Hébergement</h2>
        <p>PulseHeberg<br>
            9 Boulevard de Strasbourg<br>
            83000 Toulon<br>
            France</p>
        <p><a href="https://pulseheberg.com">https://pulseheberg.com</a></p></section>
    <section>
        <h2 id="cookies">Cookies</h2>
        <p>Ce site n’utilise pas de cookies à d’autres fins que purement techniques.</p>
        <p>Il n’utilise aucun système <a
                    href="https://www.cnil.fr/fr/cookies-comment-mettre-mon-site-web-en-conformite">de
                publicité ciblée, de réseaux sociaux ou de mesure
                d’audience</a> et donc ne nécessite pas de
            bandeau d’information qui permettrait de s’opposer à ces cookies.</p>
    </section>
{/include}