{#include base}
    {#title}Mentions légales{/title}
    <header><h1>Mentions légales</h1></header>
    <section>
        <h2 id="hébergement">Hébergement</h2>
        <p>PulseHeberg<br>
            9 Boulevard de Strasbourg<br>
            83000 Toulon<br>
            France</p>
        <p><a href="https://pulseheberg.com">https://pulseheberg.com</a></p>
    </section>
    <section>
        <h2 id="cookies">Cookies</h2>
        <p>Ce site n’utilise pas de cookies à d’autres fins que purement techniques.</p>
        <p>Il n’utilise aucun système <a
                    href="https://www.cnil.fr/fr/cookies-comment-mettre-mon-site-web-en-conformite">de
                publicité ciblée, de réseaux sociaux ou de mesure
                d’audience</a> et donc ne nécessite pas de
            bandeau d’information qui permettrait de s’opposer à ces cookies.</p>
    </section>
    <section>
        <h2 id="fonts">Polices d’écriture</h2>
        <p>Ce site utilise les polices d’écriture suivantes, sous licence SIL Open Font License 1.1 :</p>
        <dl>
            <dt>Noto Serif JP</dt>
            <dd>Copyright 2017 Adobe Systems Incorporated (http://www.adobe.com/).</dd>
            <dt>Oleo Script</dt>
            <dd>Copyright (c) 2012, Soytutype (contact@soytutype.com.ar|soytutype@gmail.com), with reserved fontname "Oleo".</dd>
        </dl>
    </section>
{/include}